/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px; 
    height: 30px!important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%; 
}

 .msg-fsize {
    font-size: 12px;
 }

 .btn-hide {
    visibility: hidden;
 }
 .ml {
    margin-left: 10px;
 }

 .footer {
    font-size: 12px;
    padding: 10px;
 }
.user {
    width: 100px;
    height: 100px;
}

.file-top {
    margin-top: 20px;
}
.qrcode1 {
    float: right;
    width: 200px;
    height: auto;
}
.qrcode2 {
    float: right;
    opacity: 0.4;
}
.profile-card {
    margin: auto;
    width: 90%;
}
